<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <img alt="mosntera delicosa" src="assets/img/monstera.webp" />
    <ion-card-header>
      <ion-card-title>Monstera Deliciosa XL</ion-card-title>
      <ion-card-subtitle>Interior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Icónica planta de interiores, hojas grandes y distintivamente perforadas. <br>Tan solo por $19.990.</ion-card-content>
    <ion-button shape="round" size="small" color="medium">Ver más</ion-button>
    <ion-button shape="round" size="small" color="success">Comprar</ion-button>
  </ion-card>
  
  <ion-card color="light">
    <img alt="mosntera delicosa" src="assets/img/ficus.webp" />
    <ion-card-header>
      <ion-card-title>Ficus Lyrata</ion-card-title>
      <ion-card-subtitle>Interior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Icónica planta de interiores, hojas grandes y distintivamente perforadas. <br>Tan solo por $15.990.</ion-card-content>
    <ion-button shape="round" size="small" color="medium">Ver más</ion-button>
    <ion-button shape="round" size="small" color="success">Comprar</ion-button>
  </ion-card>

  <ion-card color="light">
    <img alt="mosntera delicosa" src="assets/img/singoneo-v.webp" />
    <ion-card-header>
      <ion-card-title>Singoneo Variegado</ion-card-title>
      <ion-card-subtitle>Interior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Planta trepadora de hojas en forma de flecha, ideal para interiores. <br>Tan solo por $15.990.</ion-card-content>
    <ion-button shape="round" size="small" color="medium">Ver más</ion-button>
    <ion-button shape="round" size="small" color="success">Comprar</ion-button>
  </ion-card>

  <ion-card color="light">
    <img alt="mosntera delicosa" src="assets/img/cactus.png" />
    <ion-card-header>
      <ion-card-title>Cactus Injertado</ion-card-title>
      <ion-card-subtitle>Exterior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Combinación única de cactus, llamativo por sus colores vibrantes. <br>Tan solo por $5.990.</ion-card-content>
    <ion-button shape="round" size="small" color="medium">Ver más</ion-button>
    <ion-button shape="round" size="small" color="success">Comprar</ion-button>
  </ion-card>
</ion-content>
