

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Términos & Condiciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contenido">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Términos & Condiciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label><ion-icon name="cart"></ion-icon>
           Cambios y Devoluciones</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus quisquam beatae magnam explicabo placeat officiis provident repudiandae porro, quidem eius sequi voluptates veniam maxime quaerat? Totam amet quibusdam corporis.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label><ion-icon name="cash"></ion-icon> Formas de pago</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa vitae maxime eos neque, esse doloremque sint illum facilis molestiae possimus dolorem similique omnis eum nobis ab architecto voluptates repellat at?</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label><ion-icon name="car"></ion-icon> Métodos de Envío</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt totam ad aspernatur odit! Maxime veniam blanditiis minima esse sapiente doloribus ipsa numquam quaerat natus, cum a quo! Rerum, praesentium!</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item>
    <ion-label><h1> Agenda tu envío</h1></ion-label>
  </ion-item>
  
 
  <ion-datetime></ion-datetime>



  <ion-button shape="block" [routerLink]="['/home']" ><ion-icon name="arrow-dropright-circle"></ion-icon> Agendar</ion-button>
</ion-content>
